.Home{
text-align: center;
width: 250px;
height: 650px;   
border: 2px solid black;
margin: auto;
background-color: black;
border-radius: 5%;

}
.light {

    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    margin-top: 7px;
}